* {
	box-sizing: border-box;
}

.myquote {
	font-style: italic;
	font-weight: normal;
}

.centeredheading {
	text-align: center;
}

.headerrow {
	font-weight: bold;
	font-size: 110%;
	width: 100%;
	position: relative;
	text-align: right;
	float: right;
	clear: left;
	clear: below;
}

.spanheader {
	border: 1px black solid;
}

.strucspan {
	background-color: #80fdf3;	
	font-weight: bold;
	border: 1px black solid;
	margin: 5px;
	padding: 5px;
}

.greyback {
	background-color: #e0e0e0;
}

.greenback {
	background-color: #c0ffc0;
}

.blueback {
	background-color: #c0c0ff;
}

@media (min-width: 992px) {
	.strucspan {
		position: relative;
		width: 32%;
		float: left;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.strucspan {
		position: relative;
		width: 48%;
		float: left;
	}

	.lastspan {
		position: relative;
		width: 100%;
		float: left;
	}

	.centeredheading {
		font-size: 150%;
	}
}

@media (max-width: 767px) {
	.strucspan {
		position: relative;
		margin: 5px;
		float: left;
		clear: left;
	}

	.centeredheading {
		font-size: 120%;
	}
}
