* {
	box-sizing: border-box;
}

.myquote {
	font-style: italic;
	font-weight: normal;
}

.centeredheading {
	text-align: center;
}

.spanheader {
	font-weight: bold;
	font-size: 110%;
	
	width: 100%;
	position: relative;
	float: left;
	clear: right;
}

body {
	background-color: #80fdf3;
}


.strucspan {
	font-weight: bold;
}

@media (min-width: 992px) {
	.strucspan {
		position: relative;
		width: 33%;
		float: left;
		padding: 5px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.strucspan {
		position: relative;
		width: 50%;
		float: right;
		padding: 5px;
		margin-bottom: 10px;
	}

	.lastspan {
		position: relative;
		width: 100%;
		float: right;
		padding: 5px;
		margin-bottom: 10px;
	}

	.centeredheading {
		font-size: 150%;
	}
}

@media (max-width: 767px) {
	.strucspan {
		position: relative;
		width: 100%;
		padding: 5px;
		margin-bottom: 10px;
		float: left;
		clear: left;
	}

	.centeredheading {
		font-size: 120%;
	}
}
